@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline-offset-8 {
  text-underline-offset: 8px;
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 100%;
  height: 5px;
}
::-webkit-scrollbar-track {
  cursor: pointer;
  background: #EE4D2D;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #32CB00;
}
